@use "../foundation/variables" as v;

.l-mv{
	background-image: url(../assets/images/fv.jpg);
	background-size: cover;
	height: 476px;
	background-position-y:50%;
	@include v.mq(sm){
		height: 300px;
	}
}
