@use "../foundation/variables" as v;

.l-faq {
  padding-top: 75px;
}

.p-faq__contents {
  padding-top: 32px;
}

.p-faq__item {
  border-top: v.$main-primary 1px solid;
  border-bottom: v.$main-primary 1px solid;
	// height: 65px;
}


.p-faq__question {
	background-color: v.$color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
	cursor: pointer;
  &::after {
    content: "ー";
    font-size: 2.5rem;
    padding-right: 1%;
  }
}

.p-faq__answer {
  background-color: v.$color-pale-gray;
  line-height: 65px;
	height: 0px;
	visibility: hidden;
	opacity: 0;
	transition: height .3s, visibility .1s, opacity .1s;
  &__text {
    padding-left: 26px;
  }
}
.p-faq__answer.open{
	transition: height .3s, visibility .5s, opacity .5s;

	height: 65px;
	visibility: visible;
	opacity: 1;
}
