@use "../foundation/variables" as v;

.l-tel{
	height: 80px;
}

.p-tel{
	text-align: center;
	line-height: 80px;
	&__heading{
		font-weight: bold;
	}
	&__number{
		margin-left: 20px;
		font-size:3.6rem;
		font-weight: bold;
	}
	&__time{
		margin-left: 20px;
	}
}
